URL ResolveReference Absent

Did.URL inherits ResolveReference from did.DID. This method does not take the URL attributes into account (obviously).

The specification suggests to treat a DID URI path as a regular URI path, which it technically is not due to the opaque structure.

> “When resolving a relative [DID URL](https://www.w3.org/TR/did-core/#dfn-did-urls) reference, the algorithm specified in [RFC3986 Section 5: Reference Resolution](https://www.rfc-editor.org/rfc/rfc3986#section-5) MUST be used. The base URI value is the [DID](https://www.w3.org/TR/did-core/#dfn-decentralized-identifiers) that is associated with the [DID subject](https://www.w3.org/TR/did-core/#dfn-did-subjects), see [5.1.1 DID Subject](https://www.w3.org/TR/did-core/#did-subject). The scheme is did. The authority is a combination of <method-name>:<method-specific-id>, and the path, query, and fragment values are those defined in [Path](https://www.w3.org/TR/did-core/#path), [Query](https://www.w3.org/TR/did-core/#query), and [Fragment](https://www.w3.org/TR/did-core/#fragment), respectively.”

As such, the base did.URI RawPath should serve as a reference to any relative URI reference not starting with a slash.